@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .header-gradient {
    background: linear-gradient(90deg, #3182ce 0%, #38b2ac 100%);
  }

  .btn-primary {
    @apply px-6 py-2 bg-green-600 text-white font-semibold rounded-md hover:bg-green-700 transition duration-300 shadow-one border border-green-600;
  }

  .top-bar-border {
    border-color: rgba(255, 255, 255, 0.25);
  }

  #menu-toggle:checked ~ #menu {
    @apply block;
  }
}

@layer utilities {
  /* Infinite slide animation */
  .animate-infinite-slide {
    animation: infinite-slide 20s linear infinite;
  }
  
  /* Scroll animation */
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }
  
  /* Stethoscope animation */
  .animate-stethoscope {
    animation: stethoscopeScan 4s linear infinite;
  }
}

@keyframes infinite-slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes stethoscopeScan {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}